/* CSS*/

body {
  font-family: sans-serif;
  padding-left: 20%;
  padding-right: 20%;
}

label {
  font-size: 18px;
  display: block;
  padding-bottom: 10px;
}

#radio {
  display: flex;
  padding-bottom: 10px;
}

#checkbox {
    padding-bottom: 10px;
}

form {
  background-color: #CC0000;
  padding: 30px;
}

textarea {
  margin-top: 10px;
}

#submit {
  margin-top: 10px;
}
