/* CSS*/

body {
  font-family: sans-serif;
  padding-left: 20%;
  padding-right: 20%;
  color: #FFFFFF;
}

label {
  font-size: 18px;
  padding-bottom: 10px;
}

h1, p {
  color: black;
  text-align: center;
}

#info  {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#info input {
  margin-right: 10px;
  margin-left: 10px;
}

#radio {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
}

#checkbox {
  display: flex;
    padding-bottom: 10px;
    justify-content: center;
}

form {
  background-color: #CC0000;
  padding: 30px;
}

textarea {
  display: block;
  margin: 10px auto;
}

#submit {
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

h2, h3 {
  text-align: center;
}

select {
  display: block;
  margin: 0 auto;
}
